/* .top-picture { */
  /* overflow:hidden; */
  /* position: relative; */

/* } */

/* .top-picture-bg { */
  /* opacity: 0.5; */
  /* position: relative; */
  /* left: 0; */
  /* top: 0; */
  /* width:fit-content; */
  /* height: 100% auto; */
  /* color: white; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center center; */
  /* background-size: cover; */
  /* object-fit: cover; */

/* } */

/* .card-image-sizing {
  width: auto;
  height: auto;
  max-height: 75vh;
} */

/* .top-picture-text {
  position: relative;
} */

/* .card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 100px;
} */

/* .container{
  background-image: url(https://img.delicious.com.au/PC97_DnC/del/2017/09/istock-519476108-52784-1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: white;
} */

.card {
  border-color: white;
  margin-top: 100px;
}

input{
  text-align: center;
  margin-top: 15px;
}

#login{
  margin-top: 200px;
  background-color: rgba(194, 229, 211, .8);
  height: 300px;

}

.btn {
  margin-left: 10px;
  background-color: #DBB04AfF;
  border-color: #DBB04AfF;
  margin-top: 20px;
}

#icon{
  height: 150px;
  margin-top: 50px;
}
h1 {
  font-size: 500%;
  text-shadow: 4px 4px 10px #ABD1C9FF;
  color: #DBB04aFF;
}

h2 {
  font-size: 350%;
  text-align: center;
  margin-top: 50px;
}

.col .card .card-img-top {
  height: 300px;
}

#banner {
  margin-top: 20px;
  width: 100%;
  height: auto;
  opacity: .8;
}
hr {
  background-color: #DBB04aFF;
}

.banner {
  position: relative;
  margin: 3%;
}

.banner .card {
  position: absolute;
  top: 17px;
  opacity: .9;
  width: 100%;

}

.secondtxt {
  text-align: center;
}

