

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content=
      "width=device-width, initial-scale=1,shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
           crossorigin="anonymous">


</head>
<div class="top-picture">
  <div class="top-picture-bg">
    <h1>
      Welcome<br>to<br>the<br>Recipe Book!<br> Create a user account today!
    </h1>
  </div>
</div>

<body>
 <div class="card-deck">
  <div class="card" style="background-color: lightgray">
      <img class="card-img-top card-image-sizing" src="/assets/images/welcomeImg1.png" alt="Card image cap">
      <div class="card-block">
          <h4 class="card-title">Create Recipes For The World To Share</h4>
          <p class="card-text"><strong>Got a secret family recipe that you want to share?
          </strong></p>
          <p></p>
          <p class="card-text">Join other users in swapping recipes around the internet.  Establish your profile today by registering an account and putting those dusty old cookbooks you've kept for years at the worlds doorstep. </p>

      </div>
  </div>

  <div class="card" style="background-color: lightgray">
    <img class="card-img-top card-image-sizing" src="/assets/images/welcomeImg4.png" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Become a Super User!</h4>
        <p class="card-text"><strong>Will your recipes inspire others?
        </strong></p>
        <p></p>
        <p class="card-text">At the Recipe App, you'll be able to become famous (or notorious) for your wonderful recipe shares.  Join us and others in the world of cooking by making your mark!  Create a user profile today.</p>

    </div>
</div>

<div class="card" style="background-color: lightgray">
  <img class="card-img-top card-image-sizing" src="/assets/images/welcomeImg3.png"  alt="Card image cap">
  <div class="card-block">
      <h4 class="card-title">Find what you're looking for immediately</h4>
      <p class="card-text"><strong>Tired of Googling to no end?  Got an idea?  Check here.
      </strong></p>
      <p></p>
      <p class="card-text">With so many options available, we have a growing database of user sourced and gathered recipes for you to look through today.  When you create an account, you'll gain access to thousdands of users and recipes to try in the comfort of your own home.</p>

  </div>




</div>

</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
  </script>
</body>

