
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content=
      "width=device-width, initial-scale=1,shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
           crossorigin="anonymous">


</head>
<div class="top-picture">
  <div class="top-picture-bg">
    <h1>
      Welcome<br>to<br>the<br>Recipe Book
    </h1>
  </div>
</div>


<body>
  <div class="card-deck">
      <div class="card">
          <img class="card-img-top card-image-sizing" src="/assets/images/bakedmac.jpeg" alt="Card image cap">
          <div class="card-block">
              <h4 class="card-title">Baked Mac and Cheese</h4>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores ducimus impedit possimus maiores earum iure voluptatem necessitatibus, maxime, veritatis eveniet dignissimos quia. A, quaerat obcaecati blanditiis et laboriosam nobis eum?
              </p>

              <p class="card-text">
                  <small class="text-muted">
                      Last updated 3 mins ago
                  </small>
              </p>
          </div>
      </div>

      <div class="card">
          <img class="card-img-top card-image-sizing" src="/assets/images/mushroomcurry.jpeg">
          <div class="card-block">
              <h4 class="card-title">Curried Mushroom</h4>
              <p class="card-text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatum atque harum iure qui corporis esse hic deleniti dignissimos amet sint assumenda sapiente, fugiat eius nisi est dolor. Perferendis, repudiandae.
              </p>

              <p class="card-text">
                  <small class="text-muted">
                      Last updated 3 mins ago
                  </small>
              </p>
          </div>
      </div>

      <div class="card">
          <img class="card-img-top card-image-sizing" src="/assets/images/friedchicken.png">
          <div class="card-block">
              <h4 class="card-title">Fried Chicken</h4>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto deleniti aliquam natus assumenda, quia esse harum quam reiciendis animi sed ipsam itaque expedita quae, doloremque laudantium? Doloribus omnis incidunt natus?
              </p>

              <p class="card-text">
                  <small class="text-muted">
                      Last updated 3 mins ago
                  </small>
              </p>
          </div>
      </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
  </script>
</body>

