.top-picture {
  overflow:hidden;
  position: relative;
}

.top-picture-bg {
  opacity: 0.5;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-image: url("../../../assets/images/banner1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  object-fit: cover;
}

.card-image-sizing {
  width: auto;
  height: auto;
  max-height: 75vh;
}

.top-picture-text {
  position: relative;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 100px;
}
