<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content=
      "width=device-width, initial-scale=1,shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
           crossorigin="anonymous">


</head>
<div class="top-picture">
  <div class="top-picture-bg">
    <h1>
      Welcome<br>to<br>the<br>Recipe Book
    </h1>
  </div>
</div>


<form>
    <div class="container fluid" name="notLoggedIn" *ngIf="!checkLogin()">
    <div class="container-fluid text-center">
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Error</h5>
          Please login or create an account to access the Recipe app
          </div>
        </div>
      </div>
    </div>
  </form>


<body *ngIf="checkLogin()">
  <div class="card-deck">
      <div class="card">
          <img class="card-img-top card-image-sizing" src="{{displayRecipe1.imgUrl}}" alt="Card image cap" [routerLink]="['/recipe/', displayRecipe1.id]">
          <div class="card-block">
              <h4 class="card-title">{{displayRecipe1.name}}</h4>
              <p class="card-text"><strong>Recipe created by <a [routerLink]="['/profile/', displayRecipe1.user.id]">{{displayRecipe1.user.username}}</a>
              </strong></p>
              <p></p>
              <p class="card-text">{{displayRecipe1.description}}</p>
              <p class="card-text">
                  <small class="text-muted">
                      Recipe created on on {{displayRecipe1.creationDate | date: "MMMM dd, yyyy"  }}
                  </small>
              </p>
          </div>
      </div>

      <div class="card">
        <img class="card-img-top card-image-sizing" src="{{displayRecipe2.imgUrl}}" alt="Card image cap" [routerLink]="['/recipe/', displayRecipe2.id]">
        <div class="card-block">
            <h4 class="card-title">{{displayRecipe2.name}}</h4>
            <p class="card-text"><strong>Recipe created by <a [routerLink]="['/profile/', displayRecipe2.user.id]">{{displayRecipe2.user.username}}</a></strong></p>
            <p></p>
            <p class="card-text">{{displayRecipe2.description}}</p>
            <p class="card-text">
                <small class="text-muted">
                    Recipe created on on {{displayRecipe2.creationDate | date: "MMMM dd, yyyy"  }}
                </small>
            </p>
        </div>
    </div>


    <div class="card">
      <img class="card-img-top card-image-sizing" src="{{displayRecipe3.imgUrl}}" alt="Card image cap" [routerLink]="['/recipe/', displayRecipe3.id]">
      <div class="card-block">
          <h4 class="card-title">{{displayRecipe3.name}}</h4>
          <p class="card-text"><strong>Recipe created by <a [routerLink]="['/profile/', displayRecipe3.user.id]">{{displayRecipe3.user.username}}</a></strong></p>
          <p></p>
          <p class="card-text">{{displayRecipe3.description}}</p>
          <p class="card-text">
              <small class="text-muted">
                  Recipe created on on {{displayRecipe3.creationDate | date: "MMMM dd, yyyy"  }}
              </small>
          </p>
      </div>
  </div>

  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
  </script>
</body>

