<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollasped = !isCollasped"
      [attr.aria-expanded]="!isCollasped"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo01"
      [ngbCollapse]="isCollasped"
    >
      <a class="navbar-brand" [routerLink]="['/home']">Home</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item" *ngIf="checkLogin()">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/todo']"
            >Todos</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
      <div *ngIf="checkLogin()">
        <div class="d-flex">
          <li class="nav-item" style="list-style: none">
            <app-logout></app-logout>
          </li>
        </div>
      </div>
      <div *ngIf="!checkLogin()">
        <div class="d-flex">
          <li class="nav-item">
            <button class="btn btn-primary btn-sm" [routerLink]="['/login']">
              Log In
            </button>
            <!-- <app-login></app-login> -->
          </li>
          <li class="nav-item">
            <button class="btn btn-primary btn-sm" [routerLink]="['/register']">
              Register
            </button>
          </li>
        </div>
      </div>
    </div>
  </div>
</nav>
