<div *ngIf="selectedUser" class="col-md-6">
  <h1> Greetings {{user?.username}}! Welcome to {{selectedUser.username}}'s Profile Page</h1>
  <div class="card">
    <label for="aboutMe">About Me</label>
    <div class="card-body">
      {{selectedUser.aboutMe}}

    </div>
  </div>
  <div class="card">
    <label for="firstName">First Name</label>
    <div class="card-body">
      {{selectedUser.firstName}}

    </div>
  </div>
  <div class="card">
    <label for="lastName">Last Name</label>
    <div class="card-body">
      {{selectedUser.lastName}}

    </div>
  </div>
  <table class="col table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>My Published Recipes</th>
        <th>Take A Look</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of allRec | publishedRecipe | selectedUserRecipes: selectedUser.id">
        <!-- <td (click)="chooseRecipe(r)">{{r.name}}</td> -->
        <td>{{r.name}}</td>
        <td>
          <button class="btn btn-primary">
            <a class="btn btn-primary" [routerLink]="['/recipe/', r.id]">View</a>
          </button>
        </td>


      </tr>
    </tbody>
  </table>

</div>
