<div class="container-fluid">
  <div class="row">
    <h2>Overview</h2>
    <p>This project is designed as a means to create and share recipes between users giving recipe books modern functionality such as: commentary on recipes from other users, user likes via reactions,
      and other various (now common) social media aspects.  Additionally, it provides a link to local area stores to enable users to quickly see whether or not ingredients for the recipes are in stock.
    </p>
  </div>
  <div class="row">
<h2> Development Team</h2>
    <div class="col" style-"width: 18rem">
      <img class="card-img-top round-image" src="https://avatars.githubusercontent.com/u/90653438?v=4" alt="Github User Picture">
      <div class="card-body">
          <h5 class="card-title">Aspen Newman</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Github</a>
      </div>
    </div>

    <div class="col">
      <img class="card-img-top round-image" src="https://avatars.githubusercontent.com/u/109397095?v=4" alt="Github User Picture">
      <div class="card-body">
          <h5 class="card-title">Cullen Rafferty</h5>
          <p class="card-text center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Github</a>
      </div>
    </div>

    <div class="col">
      <img class="card-img-top round-image" src="https://avatars.githubusercontent.com/u/109092892?v=4" alt="Github User Picture">
      <div class="card-body">
          <h5 class="card-title">Nolan Urban</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Github</a>
      </div>
    </div>

  </div>

</div>

