
<div *ngIf="!editUser && !selectedRec && !selectedUser"class="topProfPage" id="topProfPage">
  <h1> Greetings {{user?.username}}! Welcome to your Profile Page</h1>
  <div class="card">
    <label for="aboutMe">About Me</label>
    <div class="card-body">
      {{user?.aboutMe}}

    </div>
  </div>
  <div class="card">
    <label for="firstName">First Name</label>
    <div class="card-body">
      {{user?.firstName}}

    </div>
  </div>
  <div class="card">
    <label for="lastName">Last Name</label>
    <div class="card-body">
      {{user?.lastName}}

    </div>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Find Other Users</label>
    <select [(ngModel)]="selectedUser"  id="inputState" class="form-select">
      <option *ngFor="let u of users" [ngValue]="u">{{u.username}}</option>
    </select>
  </div>
<div class="container">
  <div class="row">
  <table class="col table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>My Recipe Book</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let r of recipes">
        <td>{{r.name}}</td>
      </tr>
    </tbody>
  </table>
  <table class="col table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>My Published Recipes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of recipes | publishedRecipe">
        <td (click)="chooseRecipe(r)">{{r.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>
<div name="selectedtable" *ngIf="selectedRec" style="height:fit-content">
  <img src="{{selectedRecipe?.imgUrl}}" alt="No image found">
  <table id="recipe-table" class="table table-bordered">
    <tr><th>{{selectedRecipe!.name}} submitted by {{selectedRecipe!.user.username}}</th></tr>
    <tr><td>Preparation Time: {{selectedRecipe!.prepTime}} minutes</td></tr>
    <tr><td>Cook Time: {{selectedRecipe!.cookTime}} minutes</td></tr>

    <tr><th>Description</th></tr>
    <tr><td>{{selectedRecipe!.description}}</td></tr>

    <tr><th>Directions</th></tr>
    <tr><td>{{selectedRecipe!.instructions}}</td></tr>

    <tr><th>Ingredients</th></tr>
    <tr><td>{{selectedRecipe!.recipeIngredients}}</td></tr>
  <button (click)="selectedRec=false">Back</button><button>Like</button>
  </table>
  Comments
  <table id="recipe-table" class="table table-bordered">
    <tr *ngFor="let comment of recipeComments">
      <td style="color: gray">{{comment.user.username}} @ {{comment.commentDate | date:'shortTime' }}</td>
     <td>{{comment.comment}}</td>
     <td><button *ngIf="checkUser(comment.user.id, currentUser.id)" class="btn btn-danger" (click)="removeComment(comment.id)">Delete</button>
     </td>
    </tr>
  </table>
  <input type="text" [(ngModel)]="newComment.comment">
  <button (click)="addNewComment(newComment)">Add Comment</button>
</div>


<form *ngIf="editUser && !selectedUser" class="row g-3">
  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="editUser.firstName">
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="editUser.lastName">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="editUser.email">
  </div>
  <div class="col-12">
    <label for="aboutMe" class="form-label">About Me</label>
    <input type="text" class="form-control" id="aboutMe" name="aboutMe" [(ngModel)]="editUser.aboutMe">
  </div>
  <div class="col-12">
    <button class="btn btn-primary" (click)="updateUser(editUser)">Update</button>
  </div>
</form>
<div class="col-12">
  <button *ngIf="!selectedRec && !selectedUser" class="btn btn-warning" (click)="deleteUser(user!.id)">Deactive Account </button>
</div>
<div class="col-12">
  <button *ngIf="!editUser && !selectedRec && !selectedUser"class="btn btn-success" (click)="setEditUser()">Edit Profile</button>
</div>

<div *ngIf="selectedUser" class="col-md-6">
  <h1> Greetings {{user?.username}}! Welcome to {{selectedUser.username}}'s Profile Page</h1>
  <div class="card">
    <label for="aboutMe">About Me</label>
    <div class="card-body">
      {{selectedUser.aboutMe}}

    </div>
  </div>
  <div class="card">
    <label for="firstName">First Name</label>
    <div class="card-body">
      {{selectedUser.firstName}}

    </div>
  </div>
  <div class="card">
    <label for="lastName">Last Name</label>
    <div class="card-body">
      {{selectedUser.lastName}}

    </div>
  </div>
  <table class="col table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>My Published Recipes</th>
        <th>Take A Look</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of allRec | publishedRecipe | selectedUserRecipes: selectedUser.id">
        <!-- <td (click)="chooseRecipe(r)">{{r.name}}</td> -->
        <td>{{r.name}}</td>
        <td>
          <button class="btn btn-primary">
            <a class="btn btn-primary" [routerLink]="['/recipe/', '3']">View</a>
          </button>
        </td>


      </tr>
    </tbody>
  </table>

</div>
