<div
  *ngIf="!editUser && !selectedRec && !selectedUser && user"
  class="topProfPage"
  id="topProfPage"
  class="container"
>
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <img src="{{ user.profilePic }}" class="img-thumbnail" />
        <hr />
      </div>
      <div class="col-4">
        <h1>{{ user.username }}'s Profile</h1>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>About Me</a>
          <ng-template ngbNavContent>
            <p><strong>First Name:</strong> {{ user.firstName }}</p>
            <p><strong>Last Name:</strong> {{ user.lastName }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p>
              <strong>Member Since:</strong>
              {{ user.createdDate | date: "MMMM dd, yyyy" }}
            </p>
            <p>
              <strong>Bio:</strong>
              {{ user.aboutMe }}
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Published Recipes</a>
          <ng-template ngbNavContent>
            <div *ngIf="recipes">
              <div *ngFor="let r of recipes | publishedRecipe">

                <div class="card mb-3" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        src="{{ r.imgUrl }}"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ r.name }}</h5>
                        <p class="card-text"></p>
                        <p class="card-text">
                          <small class="text-muted"
                            >Created on:
                            {{ r.creationDate | date: "MM/dd/yy" }}</small
                          >
                        </p>
                        <p>
                          <button
                            class="btn btn-primary"
                            [routerLink]="['/recipe/', r.id]"
                          >
                            View Recipe
                          </button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>My Created Recipes</a>
          <ng-template ngbNavContent>
            <div>
              <div *ngFor="let r of recipes">
                <div class="card mb-3" style="max-width: 540px">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        src="{{ r.imgUrl }}"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ r.name }}</h5>
                        <p class="card-text"></p>
                        <p class="card-text">
                          <small class="text-muted"
                            >Created on:
                            {{ r.creationDate | date: "MM/dd/yy" }}</small
                          >
                        </p>
                        <p>
                          <button
                            class="btn btn-primary"
                            [routerLink]="['/recipe/', r.id]"
                          >
                            View Recipe
                          </button>
                          <button
                          class="btn btn-success">
                            Edit Recipe
                          </button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink>Saved Recipes</a>
          <ng-template ngbNavContent>
            <div *ngFor="let savedRecipe of user.recipes">
              <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="{{ savedRecipe.imgUrl }}"
                      class="img-fluid rounded-start"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ savedRecipe.name }}</h5>
                      <p class="card-text">
                        <small class="text-muted"
                          >Created on:
                          {{ savedRecipe.creationDate | date: "MM/dd/yy" }}</small
                        >
                      </p>
                      <p>
                        <button
                          class="btn btn-primary"
                          [routerLink]="['/recipe/', savedRecipe.id]"
                        >
                          View Recipe
                        </button>
                        <button
                          class="btn btn-danger"
                          (click)="unsaveRecipe(savedRecipe)"
                        >
                          Unsave Recipe
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <a ngbNavLink>Profile Settings</a>
          <ng-template ngbNavContent>
            <div>
              <div class="col-12">
                <button
                  *ngIf="!selectedRec && !selectedUser"
                  class="btn btn-warning"
                  (click)="deleteUser(user!.id)"
                >
                  Deactive Account
                </button>
              </div>
              <div class="col-12">
                <button
                  *ngIf="!editUser && !selectedRec && !selectedUser"
                  class="btn btn-success"
                  (click)="setEditUser()"
                >
                  Edit Profile
                </button>
              </div>
            </div>
          </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  <!-- <h1>Greetings {{ user?.username }}! Welcome to your Profile Page</h1>
  <div class="card">
    <label for="aboutMe">About Me</label>
    <div class="card-body">
      {{ user?.aboutMe }}
    </div>
  </div>
  <div class="card">
    <label for="firstName">First Name</label>
    <div class="card-body">
      {{ user?.firstName }}
    </div>
  </div>
  <div class="card">
    <label for="lastName">Last Name</label>
    <div class="card-body">
      {{ user?.lastName }}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="col table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>My Recipe Book</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of recipes">
            <td>{{ r.name }}</td>
          </tr>
        </tbody>
      </table>
      <table class="col table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>My Published Recipes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of recipes | publishedRecipe">
            <td>
              <a [routerLink]="['/recipe/', r.id]">{{ r.name }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div name="selectedtable" *ngIf="selectedRec" style="height: fit-content">
  <img src="{{ selectedRecipe?.imgUrl }}" alt="No image found" />
  <table id="recipe-table" class="table table-bordered">
    <tr>
      <th>
        {{ selectedRecipe!.name }} submitted by
        {{ selectedRecipe!.user.username }}
      </th>
    </tr>
    <tr>
      <td>Preparation Time: {{ selectedRecipe!.prepTime }} minutes</td>
    </tr>
    <tr>
      <td>Cook Time: {{ selectedRecipe!.cookTime }} minutes</td>
    </tr>

    <tr>
      <th>Description</th>
    </tr>
    <tr>
      <td>{{ selectedRecipe!.description }}</td>
    </tr>

    <tr>
      <th>Directions</th>
    </tr>
    <tr>
      <td>{{ selectedRecipe!.instructions }}</td>
    </tr>

    <tr>
      <th>Ingredients</th>
    </tr>
    <tr>
      <td>{{ selectedRecipe!.recipeIngredients }}</td>
    </tr>
    <button (click)="selectedRec = false">Back</button
    ><button>Like</button>
  </table>
  Comments
  <table id="recipe-table" class="table table-bordered">
    <tr *ngFor="let comment of recipeComments">
      <td style="color: gray">
        {{ comment.user.username }} @
        {{ comment.commentDate | date: "shortTime" }}
      </td>
      <td>{{ comment.comment }}</td>
      <td>
        <button
          *ngIf="checkUser(comment.user.id, currentUser.id)"
          class="btn btn-danger"
          (click)="removeComment(comment.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
  <input type="text" [(ngModel)]="newComment.comment" />
  <button (click)="addNewComment(newComment)">Add Comment</button>
</div>

<form *ngIf="editUser && !selectedUser" class="row g-3">
  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      [(ngModel)]="editUser.firstName"
    />
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="editUser.lastName"
    />
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="editUser.email"
    />
  </div>
  <div class="col-12">
    <label for="aboutMe" class="form-label">About Me</label>
    <input
      type="text"
      class="form-control"
      id="aboutMe"
      name="aboutMe"
      [(ngModel)]="editUser.aboutMe"
    />
  </div>
  <div class="col-12">
    <button class="btn btn-primary" (click)="updateUser(editUser)">
      Update
    </button>
  </div>
</form>
<div class="col-12">
  <button
    *ngIf="!selectedRec && !selectedUser"
    class="btn btn-warning"
    (click)="deleteUser(user!.id)"
  >
    Deactive Account
  </button>
</div>
<div class="col-12">
  <button
    *ngIf="!editUser && !selectedRec && !selectedUser"
    class="btn btn-success"
    (click)="setEditUser()"
  >
    Edit Profile
  </button>
</div> -->
<div class="col text-end">
  <div ngbDropdown placement="top-end" class="d-inline-block">
    <button
      type="button"
      class="btn btn-outline-primary"
      id="dropdownBasic2"
      ngbDropdownToggle
    >
      Find Other Users
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
      <button
        ngbDropdownItem
        *ngFor="let u of users"
        [routerLink]="['/profile/', u.id]"
      >
        {{ u.username }}
      </button>
    <!-- </div> -->
  </div>
</div>
