<div class="container" *ngIf="recipe && !userEditRecipe">
  <h1>{{ recipe.name }}
    <button
    *ngIf="userCanEdit"
    class="btn btn-primary btn-sm"
    (click)="userEditRecipe = true"

  >
    Edit Recipe
  </button>
  </h1>
  <p>{{ recipe.description }}</p>
  <h6>
    Recipe by
    <strong><a [routerLink]="['/profile/', recipe.user.id]">{{
      recipe!.user.username
    }}</a></strong>
    | published on {{ recipe.creationDate | date: "MMMM dd, yyyy" }}
  </h6>
  <div>
    <button
      *ngIf="!userCanEdit"
      class="btn btn-primary"
      (click)="saveRecipe(recipe)"
    >
      Save Recipe
    </button>

  </div>
  <img id="recipeImage" src="{{ recipe.imgUrl }}" alt="No image found" />
  <br>

  <div class="card" style="width: 30rem" id="timeCard">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          <p><strong> Prep Time:</strong></p>
          {{ recipe.prepTime }}
        </div>
        <div class="col">
          <p><strong> Cook Time:</strong></p>
          {{ recipe.cookTime }}
        </div>
        <div class="col">
          <p><strong> Total Time:</strong></p>
          {{ recipe.prepTime + recipe.cookTime }}
        </div>
      </div>
    </div>
  </div>
  <br>

  <h1>Directions</h1>
  <p>{{ recipe.instructions }}</p>
  <br>

  <h1>
    Ingredients
    <button
      *ngIf="userCanEdit"
      class="btn btn-primary btn-sm"
      [routerLink]="['/ingredient', recipe.id]"
    >
      Edit Ingredients
    </button>

    <button
      class="btn btn-primary btn-sm"
      style="margin-left: 5px"
      (click)="showLocationSearch = true"
    >
      Check Availability and Price
    </button>
  </h1>

  <div *ngIf="showLocationSearch">
    <h2>Select Store from Saved or Search by Zip Code</h2>
    <div *ngIf="currentUser?.stores">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Saved Stores
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div *ngFor="let store of currentUser?.stores">
                <button ngbDropdownItem (click)="selectStore(store)">
                  {{
                    store.company.name +
                      " - " +
                      store.street1 +
                      " " +
                      store.city +
                      ", " +
                      store.state
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <form>
        <div class="input-group mb-3">
          <input
            type="text"
            name="zipcode"
            class="form-control"
            placeholder="Zipcode"
            [(ngModel)]="zipcode"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
            (click)="searchStoresByZipcode()"
          >
            Search
          </button>
        </div>

        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let location of locationOptions">
              <td (click)="saveStoreToUser(location)">
                {{
                  location.company.name +
                    " - " +
                    location.street1 +
                    " " +
                    location.city +
                    ", " +
                    location.state
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <ul *ngFor="let recIng of recipe?.recipeIngredients">
    <div class="card mb-3" style="max-width: 540px" >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ recIng.ingredient.imgUrl }}"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ recIng.ingredient.name }}</h5>
            <p class="card-text">Measurement: {{ recIng.measurement }}</p>
            <p class="card-text">
              <small class="text-muted">{{ recIng.ingredient.upc }}</small>
            </p>

            <div
              *ngIf="
                ingredientStatisticsMap &&
                ingredientStatisticsMap.get(recIng.ingredient.upc)
              "
            >
              <div
                *ngIf="
                  ingredientStatisticsMap.get(recIng.ingredient.upc)?.price !=
                  null
                "
              >
                <div>
                  Price:
                  {{
                    ingredientStatisticsMap.get(recIng.ingredient.upc)?.price
                  }}
                </div>
              </div>
              <div
                *ngIf="
                  ingredientStatisticsMap.get(recIng.ingredient.upc)?.price ==
                  null
                "
              >
                <div>Price: N/A</div>
              </div>
              <div>
                In Store:
                {{
                  ingredientStatisticsMap.get(recIng.ingredient.upc)?.inStore
                }}
              </div>
              <div
                *ngIf="
                  ingredientStatisticsMap.get(recIng.ingredient.upc)
                    ?.availability == null
                "
              >
                <div>Availability Level: N/A</div>
              </div>
              <div
                *ngIf="
                  ingredientStatisticsMap.get(recIng.ingredient.upc)
                    ?.availability
                "
              >
                <div>
                  Availability Level:
                  {{
                    ingredientStatisticsMap.get(recIng.ingredient.upc)
                      ?.availability
                  }}
                </div>
              </div>
            </div>

            <!-- <p class="card-text">
              <button class="btn btn-primary" (click)="addIngredientToRecipe(recommended)">Add to {{recipe?.name}}</button>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </ul>

  <hr>


  <div name="noComments" *ngIf="noCommentsYet">
    <h2>No comments for the recipe yet, be the first!</h2>
  </div>

  <h1>Comments ({{ recipeComments.length }})</h1>
  <hr />
  <div *ngFor="let comment of recipeComments">
    <button
      *ngIf="checkUser(comment.user.id, currentUser.id)"
      type="button"
      class="btn btn-danger btn-sm"
      style="float: right"
      (click)="removeComment(comment.id)"
    >
      Delete
    </button>
    <h4>
      <strong>{{ comment.user.username }}</strong>
      <h6>{{ comment.commentDate | date: "MM/dd/yyyy h:mm a" }}</h6>
    </h4>
    <p>{{ comment.comment }}</p>
    <hr />
  </div>
  <div class="input-group mb-3" *ngIf="recipe">
    <input
      type="text"
      class="form-control"
      placeholder="Comment on {{ recipe.user.username }}'s Recipe!"
      aria-label="Users Comment"
      aria-describedby="button-addon2"
      [(ngModel)]="newComment.comment"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      (click)="addNewComment(newComment)"
    >
      Add Comment
    </button>
  </div>
</div>

<div *ngIf="userEditRecipe && recipe">
  <form>
    <div class="container-fluid text-center" >
      <div class="card w-50" id="editCard">
        <div class="card-body">
          <h5 class="card-title">Edit Recipe</h5>
          <input
            class="form-control"
            type="text"
            name="recipeName"
            placeholder="Recipe Name"
            [(ngModel)]="recipe.name"
          />
          <br />
          <input
            class="form-control"
            type="text"
            name="description"
            placeholder="Description"
            [(ngModel)]="recipe.description"
          />
          <br />
          <input
            class="form-control"
            type="text"
            name="imgUrl"
            placeholder="Image Url"
            [(ngModel)]="recipe.imgUrl"
          />
          <br />
          <div class="input-group">
            <span class="input-group-text">Instructions</span>
            <textarea
              class="form-control"
              name="instructions"
              [(ngModel)]="recipe.instructions"
            >
            </textarea>
          </div>
          <br />
          <div class="input-group mb-3">
            <span class="input-group-text">Prep Time</span>
            <input
              class="form-control"
              type="number"
              name="prepTime"
              placeholder="Prep Time"
              [(ngModel)]="recipe.prepTime"
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Cook Time</span>
            <input
              class="form-control"
              type="number"
              name="cookTime"
              placeholder="Cook Time"
              [(ngModel)]="recipe.cookTime"
            />
          </div>
          <hr />
          <div class="text-center">
            <button class="btn btn-primary" (click)="updateRecipe(recipe)">
              Save Recipe
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
