

#recipeImage {
  height: 400px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#editCard {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 100px;
}

h1{
  font-family: 'Gill Sans';
}

#timeCard {
  background-color: #FAF9F6;
}
