<div name="notLoggedIn" *ngIf="!checkLogin()">
You must be logged in to utilize this feature.
<br>
<button [routerLink]="['/login']">Log in</button> <button [routerLink]="['/register']">Register</button>
</div>



<div name="maintable" *ngIf="!selected && checkLogin()">
  <form>
    <div class="container-fluid text-center">
      <div class="card w-50">
        <div class="card-body">
          <h5 class="card-title">Recipe Search</h5>
          <input
            class="form-control"
            type="text"
            name="search"
            placeholder="Search a Recipe By Key Word"
            [(ngModel)]="searchWord"
          />

          <div class="text-center">
            <button class="btn btn-primary" (click)="searchForRecipe(searchWord)">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>


<div name="noSearchResult" *ngIf="nothingFound">
  <h1>No recipes found, sorry!</h1>
</div>

    <div name="searchTable" *ngIf="searchClicked && !nothingFound">
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Recipe Name</th>
              <th scope="col">User</th>
              <th scope="col">Prep Time</th>
              <th scope="col">Cook Time</th>
            </tr>
        </thead>
        <tbody *ngFor="let r of recipes" >
            <tr (click)="chooseRecipe(r)">
              <td>{{r.name}}</td>
              <td>{{r.user.username}}</td>
              <td>{{r.prepTime}}</td>
              <td>{{r.cookTime}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<div name="selectedtable" *ngIf="selected" style="height:fit-content">
  <img src="{{selectedRecipe?.imgUrl}}" alt="No image found">
  <table id="recipe-table" class="table table-bordered">
    <tr><th>{{selectedRecipe!.name}} submitted by {{selectedRecipe!.user.username}}</th></tr>
    <tr><td>Preparation Time: {{selectedRecipe!.prepTime}} minutes</td></tr>
    <tr><td>Cook Time: {{selectedRecipe!.cookTime}} minutes</td></tr>

    <tr><th>Description</th></tr>
    <tr><td>{{selectedRecipe!.description}}</td></tr>

    <tr><th>Directions</th></tr>
    <tr><td>{{selectedRecipe!.instructions}}</td></tr>

    <tr><th>Ingredients</th></tr>
    <tr><td>{{selectedRecipe!.recipeIngredients}}</td></tr>
  <button (click)="selected=false">Back</button><button>Like</button>
  </table>
  Comments
  <table>
    <!-- <td>{{comments}}</td> -->
    <td *ngFor="let comment of recipeComments">{{comment.comment}} was said by {{comment.user.username}}</td>
  </table>
</div>

<div name="noComments" *ngIf="noCommentsYet">
<h2>No comments for the recipe yet, be the first!</h2>
<button>Add Comment</button>
</div>
